<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/style.css">
    <title>Game Review Forum</title>
</head>
<body>
    <h1>Welcome!</h1>
   
    <h4>Most anticipated games</h4>
        <ul>
        <% gameData.forEach((game)=>{ %>
            <li>
                <img id="gameimageA" src="<%= game.background_image %>" alt="">
                <%= game.name %>
            </li>
       <% }) %> 
       </ul>
       <form id="form"> 
        <input type="search">
        <button>Search</button>
      </form>
</body>
</html>