<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">

    <title>Game Review Forum</title>
</head>
<body>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
        </style>
    <h1 id="heading2">W e l c o m e !</h1>
   
    <h4>Most anticipated games</h4>
         <ul>
         <% gameData.forEach((game)=>{ %>
            <li>
                <img id="gameimageA" src="<%= game.background_image %>" alt="">
                <a href="/review/<%= game.name%>"> 
                 <%= game.name %></a>
             </li>
       <% }) %> 
       </ul>
       <form id="form"> 
        <input type="search">
        <button id="FindG">Search</button>
      </form>
</body>
</html>