<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../middleware/public/style.css">
    <title>Review Page</title>
</head>
<body>
    <h1>Game Review</h1>
    <h2>What Users think</h2>
    <h3>What Critics think</h3>
    <h4>Comments</h4>
     <ul>
        <!-- <% gameData.forEach((game)=>{ %>
            <li>
                <a href="<%= game.background_id %>"></a>
                <%= game.name %>
            </li>
       <% }) %>  -->
       </ul> 
       <form id="form"> 
        <input type="search">
        <button>Search</button>
        </form>
</body>
</html>