/* Must CSS review page once it gets working */
/* Use Flexbox to configure API game images */


body {
    font-family: 'Press Start 2P';
    background-color: lightblue; 
    
}

#gameimageA {
    font-family: 'Press Start 2P';
    border: 10px solid black;
    width: 30%;
    height: 40%;
    display: flex;
}

#form {
    position: absolute;
    top: 12%;
}


#FindG {
    font-family: 'Press Start 2P', cursive;
    background-color: black;
    color: white;
}

.Auth {
    position: absolute;
}

#heading1 {
    text-align: center;
}

#heading2 {
    text-align: center;
}

h4 {
    text-align: center;
}